@import "styles/globals";

.img {
  width: 90vw;
}

.img_main {
  flex-basis: 33%;
  margin-top: -30px;
}

.ol {
  flex-basis: 33%;
  counter-reset: item;
  list-style-type: none;
}

.li {
  display: block;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  position: relative;

  &:before {
    content: counter(item) "  ";
    counter-increment: item;
    display: inline-block;
    background: #969696;
    border-radius: 70%;
    width: 25px;
    height: 25px;
    text-align: center;
    color: white;
    padding-top: 3px;
    margin: 5px 5px 0 0;
  }
}

.hdr {
  @extend %hdr;
  margin-top: calc(#{$navbar-height} + 15px);
}

.descr_wrap {
  display: flex;
}

.prod_descr {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  .yt_wrapper {
    margin: 40px 0;
    .yt_url {
      margin: auto 0;
      width: 900px;
      height: 400px;
    }

  }

  .descr {
    flex-basis: 33%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    color: #a7a7a7;
    //margin: 15px 20px 20px;
  }
}

.table {
  width: 990px;
  padding-bottom: 50px;

  tr:nth-child(odd){
    background: #f0f0f0;
  }

  tr td {
    text-align: center;
  }

  tr td:first-child {
    text-align: start;
  }
}

.complect {
  display: flex;
  background-color: #f0f0f0;
  margin-left: -20px;
}

.h4base {
  padding-left: 20px;
}

.extra_href {
  cursor: pointer;

  &:active {
    color: red;
  }

  &:focus {
    color: red;
  }
}


