.container {
  padding: 15px 3%;
  margin-top: 60px;
}


.contacts {
  align-self: end;
  margin: auto 0;
}

.hdr {
  font-size: 40px;
  text-align: center;
  color: ghostwhite;
  margin-bottom: 5px;
}

.mb15 {
  margin-bottom: 15px;
}
