@import "styles/globals";

.container {
  padding: 15px 3%;
  margin-top: 75px;
  position: relative;
  height: calc(100vh - #{$navbar-height});
}


.contacts {
  align-self: end;
  margin: auto 0;
}

.hdr {
  font-size: 40px;
  text-align: center;
  color: ghostwhite;
  margin-bottom: 5px;
}

.mb15 {
  margin-bottom: 15px;
}

.hdr_addr {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

.subhdr {
  font-size: 24px;
}
