%base-img {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%intern-img {
  width: 50%;
  position: relative;

  &:after {
    @extend %base-img;
  }

}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px);
  align-items: center;
  padding-top: 50px;
  @media (max-width: 768px) {
    width: unset;
    height: unset;
    padding-bottom: 10vw;
  }

}

.card {
  width: 360px;
  height: 410px;
  border: solid 1px #223140;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 2%;
  @media (max-width: 768px) {
    width: unset;
    margin: 2vw;
  }

}

.card_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 65%;
  cursor: pointer;
}

.card_body {
  height: 35%;
}

.card_title {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 2%;
}

.card_txt {
  font-size: 1.2rem;
  padding: 2%;
}

.hdr {
  width: 300px;
  margin-bottom: 100px;

}

.hdr_bobcat {
  width: 300px;
  margin-bottom: 20px;
}

.tyres_hdr {
  font-size: 40px;
  margin-bottom: 60px;
}

.oil_hdr {
  font-size: 40px;
}

.kver {
  width: 250px;
  margin-bottom: 100px;
}

.amazone {
  width: 300px;
  margin-bottom: 100px;
  background-color: #fc5816;
}

.subcontainer {
  display: flex;
  //width: 100%;
  width: calc(100vw - 400px);
  min-height: 60%;
  flex-wrap: wrap;

  //* {
  //  flex-basis: 50%;
  //}
  @media (max-width: 768px) {
    width: unset;
    justify-content: center;
  }

}

.tyres {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

}

.tyre-card {
  flex-basis: 30%;
}

.tyre {
  height: 250px;
  width: 360px;
}

.t_txt {
  width: 70%;
}

/* imgs */


.grimme {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/grimme.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.lemken {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/lemken.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.amazonei {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/amazone.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.john {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/john.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.bobcat {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/bobcat.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.manitou {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/manitou.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.kuhn {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/kuhn.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.kvern {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/kver.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.krone {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/krone.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.pochva {
  @extend %intern-img;

  &:after {
    background-image: url("/assets/claas_z.jpg");
    opacity: 0.4;
    position: absolute;
    z-index: -1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  padding: 90px;
}

.table {
  width: 650px;
  border: 1px solid;
}

.intro {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  padding: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: unset;
  padding: 20px;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.email {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
