.subcategory {
  display: inline-block;
  font-size: 30px;
  background-color: #ea3323;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.ml30 {
  margin-left: 30px;
}
