@import "styles/globals";

.bg {
    //content: '';
    position: absolute;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    /* Full height */
    height: calc(100vh - #{$navbar-height});

    width: 100%;

}

.container {
  padding: 15px 3%;
  margin-top: 75px;
  position: relative;
  height: calc(100vh - #{$navbar-height});
}

.mb15 {
  margin-bottom: 15px;
}


@keyframes grow {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.hdr {
  width: 210px;
  font-size: 40px;
  text-align: center;
  color: ghostwhite;
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
  background: black;
}

.break {
  flex-basis: 100%;
}

.visit {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
