$aside: 350px;

.container {
    display: flex;
}

.aside {
    width: $aside;
    //background: #7bbb95;
    height: 100vh;

    display: flex;
    justify-content: start;
    align-items: center;
}

$navbar-height: 90px;

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    position: fixed;
}

.item {
    cursor: pointer;
    margin-bottom: 1px;
    color: ghostwhite;
    text-align: end;

    border-bottom: 1px solid;
    padding: 10px 50px 10px 10px;
    width: 200px;
    background: linear-gradient(0.25turn, #ff9140, #FF6341 );
    transform: skewX(-10deg);
    transition: all 0.3s ease-in-out;
}

.active {
    transform: skewX(-10deg) translateX(40px);
    background: linear-gradient(0.25turn, #ff6440, red );
}

.main {
    width: calc(100vw - #{$aside});
    height: calc(100vh - #{$navbar-height});
    margin-top: calc(#{$navbar-height});

    display: flex;
}

.tech {
    width: 100%;
    height: 100%;
}

.contacts {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}
