.aside {
  margin-right: 10px;
  position: sticky;
  top: 60px;
  height: 88.8vh;
  padding-top: 55px;
  background-color: #f6f6f6;
}

.active {
  background-color: gray;
}

.item {
  padding-left: 20px;
  font-family:  'Roboto', 'Arial Narrow', sans-serif;
  font-size: 20px;
  cursor: pointer;
}
