.aside {
  position: sticky;
  top: 20vh;
  height: 100vh;
}

.active {
  background-color: gray;
}

.item {
  padding-left: 20px;
  font-family:  'Roboto', 'Arial Narrow', sans-serif;
  font-size: 24px;
  cursor: pointer;
}
