@import "styles/globals";

.navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  width: 100%;

  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  top: 0; /* At the top */
  z-index: 2;

  background-color: #ff6440;
  //background: linear-gradient(to left, #f46b45, #eea849);

  @media (max-width: 768px) {
    height: $navbar-height-mob;
    justify-content: space-between;
    width: 100vw;
  }
}

.brand {
  padding-left: 15px;
  flex-basis: 40%;
}

.navimg {
  cursor: pointer;
  transform: translateX(150px);

  @media (max-width: 768px) {
    transform: unset;
    width: 50vw;
  }
}

.ml15 {
  margin-left: 15px;
  padding: 20px;
}

.active {
  background-color: #15151c;
  border-radius: 5px;
}

.signout {
  margin-left: auto;
  margin-right: 30px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: black;
  text-decoration: none;
}

.hamburger {
  display: none;

  @media (max-width: 768px) {
    display: block;
    margin-right: 10vw;
  }

}

.menu {
  a {
    font-family: 'Roboto', 'Arial' ;
    font-size: 17px;
    //color: #101D5D;
    color: ghostwhite;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #71b38b;
      opacity: 0;
      //transition: opacity 300ms, transform 300ms;

    }

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #71b38b;
      opacity: 0;
      //transition: opacity 300ms, transform 300ms;
      //animation: menu-bottom 0.5s ease-in-out;
    }

    &:hover:before {
      opacity: 1;
      animation: menu-top 0.3s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
      animation: menu-bottom 0.3s ease-in-out;
    }

  }

  @media (max-width: 768px) {
    a {
      display: none;
    }
  }
}

@keyframes menu-top {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: -5px;
  }
}

@keyframes menu-bottom {
  0% {
    opacity: 0;
    bottom: 0;
  }
  100% {
    opacity: 1;
    bottom: -5px;
  }
}

